[user]
  name = 
  email = 
  username = 

[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
  editor = vim
	autocrlf = input
	safecrlf = true
[branch "master"]
	remote = origin
	merge = refs/heads/master
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[diff]
	tool = vimdiff
